﻿@{
    ViewData["Title"] = "Add user";
}

    <div class="wrapper">
        <div class="row mt-4 justify-content-center">
            <div class="col-md-8 col-12 px-5 my-3">
                <h2 class="text-center">Add User</h2>
                <form action="@Url.Action("AddUser")" method="post">
                    <div class="form-group">
                        <label for="AddFirstName">First Name</label>
                        <input type="text" maxlength="30" class="form-control" id="AddFirstName" name="FirstName">
                    </div>
                    <div class="form-group">
                        <label for="LastName">Last Name</label>
                        <input type="text" maxlength="30" required class="form-control" id="AddLastName" name="LastName">
                    </div>
                    <div class="form-group">
                        <label for="AddMobile">Mobile</label>
                        <input type="text" maxlength="30" required class="form-control" id="AddMobile" name="Mobile">
                    </div>
                    <div class="form-group">
                        <label for="AddEmail">Email</label>
                        <input type="text" maxlength="30" required class="form-control" id="AddEmail" name="Email">
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
