﻿@model IList<Entities.DTO.UserDto>
@{
    ViewData["Title"] = "Remove User";
}

<div class="wrapper">
    <div class="row mt-4 justify-content-center">
        <div class="col-md-8 col-12 px-5 my-3">
            <h2 class="text-center">Remove User</h2>
            <form action="@Url.Action("RemoveUser")" method="post">
                <div class="form-group">
                    <label for="Id">ID</label>
                    <select required class="form-control" id="Id" name="Id">
                        @foreach (var item in Model)
                        {
                            <option value="@item.Id">
                                @Html.DisplayFor(modelItem => item.Id)
                            </option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Remove</button>
            </form>
        </div>
    </div>
</div>
