﻿@model IList<Entities.DTO.UserDto>
@{
    ViewData["Title"] = "Update User";
}

    <div class="wrapper">
        <div class="row mt-4 justify-content-center">
            <div class="col-md-8 col-12 px-5 my-3">
                <h2 class="text-center">Update User</h2>
                <form action="@Url.Action("UpdateUser")" method="post">
                    <div class="form-group">
                        <label for="UpdateId">ID</label>
                        <select required class="form-control" id="UpdateId" name="Id">
                            @foreach (var item in Model)
                            {
                                <option value="@item.Id">
                                    @Html.DisplayFor(modelItem => item.Id)
                                </option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="UpdateFirstName">First Name</label>
                        <input type="text" maxlength="30" required class="form-control" id="UpdateFirstName" name="FirstName">
                    </div>
                    <div class="form-group">
                        <label for="UpdateLastName">Last Name</label>
                        <input type="text" maxlength="30" required class="form-control" id="UpdateLastName" name="LastName">
                    </div>
                    <div class="form-group">
                        <label for="UpdateMobile">Mobile</label>
                        <input type="text" maxlength="30" required class="form-control" id="UpdateMobile" name="Mobile">
                    </div>
                    <div class="form-group">
                        <label for="UpdateEmail">Email</label>
                        <input type="text" maxlength="30" required class="form-control" id="UpdateEmail" name="Email">
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>

        </div>
    </div>
